<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Valid Emails</title>
</head>
<body>
    <div class="card-body">
        <h2 class="card-title text-primary">Valid Emails</h2>
        <table class="table table-info">
            <thead>
                <tr>
                    <th>Emails</th>
                </tr>
            </thead>
            
            <tbody>
                {% for i in email %}
                <tr>
                    <td>{{ i.address }} <a href="/delete/{{ i.id }}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
    <a href="/">Home</a>
</body>