<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/style.css') }}">
    <title>Counter</title>
</head>
<body>
    <div>
        <h1 class = "title">Counter</h1>
    </div>
    <div>
        <p class = "counter">{{session['count']}} time(s)</p>
    </div>
    <div class = "button">
        <a href="/" class = "button-1"> <button>Click</button> </a>
        <a href="/destroy_session" class = "button-2"> <button>Reset</button></a>
        <a href="/add_two" class = "button-3"> <button>Add 2</button></a>
    <div>
        <label for="pick_number">Add any number</label>
        <input type="number" id="pick_number" name="input_number" href = "add_any_number">
        <input type="submit" id ="pick_number" href = "add_any_number">
    </div>
    </div>
</body>
</html>