*{
    font-family: Arial, Helvetica, sans-serif;
}
.nav{
    width: 950px;
    background-color: darkgray;
    color: white;
    display: flex;
    align-items: center;
}
.nav-title{
    align-items: center;
}
.btn{
    background-color: aqua;
    box-shadow: 2px 2px 2px black;
}
ul{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin-left: 250px;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}